* {
    box-sizing: content-box;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

img {
    display: inline-block;
}

.card {
    color: hsl(216.52deg 11.79% 38.24%);
}

.section {
    padding: 0px 10%;
}

.dark {
    background-color: #1F2937;
}

.hero-main-text, .header-logo-text {
    color: #F9FAF8;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary-text, .link-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo-text {
    font-size: 24px;
}

button, .cta-box {
    background-color: #3882F6;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    color: #F9FAF8;
}

.cta-button > button {
    border: 1px solid white;
}

.information-header-text, p.quote, .quote-auth {
    color: #1F2937;
}

.information-header-text {
    font-size: 36px;
    font-weight: 900;
}

.grey {
    background-color: #E5E7EB;
}

p.quote {
    font-size: 36px;
}