* {
    box-sizing: content-box;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

.img-hook > img {
    display: block;
    margin: 0px auto;
    width: 100%;
    height: 100%;
    text-align: center;
}

.section, .header {
    padding: 0 15%;
    padding-top: 10px;
}

.section {
    height: 400px;
    align-items: center;
}

.header, .footer {
    display: flex;
    justify-content: space-between;
}

.header {
    align-items: flex-start;
    padding-top: 20px;
}

.footer {
    align-items: center;
    justify-content: center;
    height: 100px;
}

.hook {
    display: flex;
    justify-content: space-between;
}

.text-hook, .img-hook {
    flex: 1;
    width: 50%;
    padding: 30px 3px;
    margin: 0px auto;
}

.text-hook {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.hook-div {
    flex: 1 1 auto;
}

.hook-btn {
    flex: 0 0 auto;
}

.link-text {
    display: flex;
    gap: 15px;
}

li {
    list-style-type: none;
}

.card {
    color: hsl(216.52deg 11.79% 38.24%);
}

.dark {
    background-color: #1F2937;
}

.hero-main-text, .header-logo-text {
    color: #F9FAF8;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary-text, .link-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo-text {
    font-size: 24px;
}

button, .cta-box {
    background-color: #3882F6;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    color: #F9FAF8;
}

.cta-button > button {
    border: 1px solid white;
}

.information-header-text, p.quote, .quote-auth {
    color: #1F2937;
}

.information-header-text {
    font-size: 36px;
    font-weight: 900;
}

.grey {
    background-color: #E5E7EB;
}

p.quote {
    font-size: 36px;
}